html{
    scroll-behavior: smooth;
}
.container{
    width: 80%;
    margin: 0 auto;
    padding: 20px;
}

ul li a:hover {
    color: #4939BB;
  }

.btn{
    padding: 0%;
    display: inline-block;
    border: none;
    cursor: pointer;
    background: none;
    font-weight: 600;
    text-decoration: none;
    letter-spacing: -0.05em;
    padding: 0.5em 1em;
    color: white;
    background-color: #4939BB;
    border-radius: 6px;
    box-shadow: 
    0 10px 20px rgba(73, 57, 187, 0.5),  
    0 6px 6px rgba(73, 57, 187, 0.5),    
    0 0 100px -10px #4939BB;            
    transition: transform 0.3s, box-shadow 0.3s;
}

.btn:hover{
    transform:translateY(-10px);
    box-shadow: 
      0 14px 28px rgba(73, 57, 187, 0.25), 
      0 10px 10px rgba(73, 57, 187, 0.22), 
      0 0 120px -10px #4939BB;     
}

.btn1{
    padding: 0%;
    display: inline-block;
    border: none;
    cursor: pointer;
    background: none;
    font-weight: 600;
    text-decoration: none;
    letter-spacing: -0.05em;
    padding: 0.5em 1em;
    color: white;
    background-color: #4939BB;
    border-radius: 6px;
    box-shadow: 
    0 10px 20px rgba(73, 57, 187, 0.5),  
    0 6px 6px rgba(73, 57, 187, 0.5),    
    0 0 100px -10px #4939BB;            
    transition: transform 0.3s, box-shadow 0.3s;
}

.btn1:hover{
    transform:translateY(-10px);
    box-shadow: 
      0 14px 28px rgba(73, 57, 187, 0.25), 
      0 10px 10px rgba(73, 57, 187, 0.22), 
      0 0 120px -10px #4939BB;     
}
.btn2{
    padding: 0%;
    display: inline-block;
    border: none;
    cursor: pointer;
    background: none;
    font-weight: 600;
    text-decoration: none;
    letter-spacing: -0.05em;
    padding: 0.5em 1em;
    color: black;
    background-color: white;
    border-radius: 6px;
    border: 1px solid black;
    transition: transform 0.3s, box-shadow 0.3s;
}

.btn2:hover{
    transform:translateY(-10px);
}


.photo {
    width: 500px;
    height: auto;
    margin-top: -50px;
  }

         
  .logos {
    display: flex;
    overflow: hidden;
    width: 100%;
    max-width: 100%;
    height: 100px;
    position: relative;
    white-space: nowrap;
    background: white;
  }
  
  @keyframes slide {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(-100%);
    }
  }
  
  .logos-slide {
    display: flex;
    align-items: center;
    animation: slide 15s linear infinite;
    flex-wrap: nowrap;
    gap: 20px; /* Adjust speed by changing duration */
  }
  
  .logos-slide img {
    height: 50px;
    margin: 0 20px;
  }
.color{
    background-color: #4939BB;
    height: 450px;
}

.span{
    color:#4939BB;
}
.box{
    background-color: #F2F2F2;
    width: 300px;         /* Set width */
    height: 350px;        /* Set height */
    margin-right: 10px;   /* Optional: space between boxes */
    border-radius: 20px;   /* Optional: rounded corners */
}

.diana{
  width: 30%;
  height: 30%;
}

.color1{
  width: 18%;
  background-color:#4939BB;
}
.color2{
  width: 55%;
  background-color:#4939BB;
}
.boxxes{
  width: 500px;
  height: 300px;
  border-bottom: 15px solid black;
  border-top: 3px solid black;
  border-left: 5px solid black;
  border-right: 5px solid black;
  border-radius: 10px;
}
.black{
  background-color: black;
  width: 100%;
  height: 600px;
}

.people{
  width: 600px;
}

.section{
  width: 100%;
  height: 1181px;
  background-color:#4939BB;
}

.leftty{
  margin-left: 700px;
  width: 700px;
}